<h2><%= @book.title %></h2>

<div class="sidebar">
  <%= render partial: "layouts/sidebar" %>
</div>

<div class="book-main-content">
  <%= @book.author_last_name %>, <%= @book.author_first_name %><br>
  <%= @book.illustrator %><br>
  <%= @book.series %><br>
  <%= @book.isbn %>
</div>
