<div class="sidebar">
  <%= render partial: "books_sidebar" %>
</div>

<div class="book-main-content">
  <%= @book.title %><br>
  <%= @book.author_last_name %>, <%= @book.author_first_name %><br>
  <% if @book.illustrator %>
    <%= @book.illustrator %><br>
  <% end %>
  <%= @book.series %><br>
  <%= @book.isbn %><br>

  <%= link_to "Edit", edit_book_path(@book) %>
</div>
